# Data Processing & Mathematics
pandas
numpy
matplotlib

# Machine Learning & Optimization
lightgbm
scikit-learn
joblib
optuna

# Backend API
fastapi
uvicorn

# Frontend & UI
streamlit
requests

# Notebook Support
ipykernel